body{
    width: 100%;
    min-width: 1100px;
}

*{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.black-section{
    padding: 5%;
    background-color: black;
    color: white;
}

.white-section{
    padding: 5%;
    background-color: white;
    color: black;
}

.title-block{
    margin: 0 auto;
    text-align: center;
    border-bottom: 4px solid #fcac45;
    font-size: 40px;
    font-weight: 700;
    padding-bottom:20px;
}

.text{
    font-size: 25px;
    padding-top: 20px;
}

.highlight{
    font-weight: 700;
    color: #fcac45;
}

a{
    text-decoration: none;
    color: inherit;
}

.transfer{
    padding-top:70px;
    display: flex;
    justify-content: space-around;
}

.transfer-item{
    width: 300px;
    text-align: center;
}

.logo{
    font-size: 40px;
    font-weight: 700;
}

.headder{
    display: flex;
    justify-content: space-between;
}
.nav{
    max-width: 1000px;
    flex-grow: 1;
    box-sizing: border-box;
    height: 45px;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}

.icon{display: none;}

.nav_item{padding-bottom: 10px;}

.nav_item:hover{    border-bottom: 4px solid #fcac45;}

@media screen and (max-width: 1400px) {
  .nav_item{display: none;}
  .icon, .nav{ display: block; }
  .icon{margin-left: 50px;}
}

.container{
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 20%;
    text-align: center;
}
.welcome>.container>.p1{font-size: 65px;}
.welcome>.container>.p2{font-size: 25px;}

.about{
    display: flex;
    justify-content: space-between;
}

.right-part{max-width: 50%;}
.about_ul{margin-top: 30px;}
.about>.img{
    margin-right: 30px;
}
.right-part>.title{width:500px;}

.team>.title{width:230px;}

.photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(120, 120, 120);
    margin: 0 auto;
}

.services>.title{
    width: 330px;
}

.services>.text, .look>.text, .testimonials>.text, .contact>.text{
    text-align: center;
    font-style: italic;
    padding-top: 40px;
}

.imgs{
    width: 200px;
    height: 200px;
}

.t1{font-size: 30px;}

.clients>.title{
    width:500px;
}
.clients>.transfer{
    padding-top: 15%;
    padding-bottom: 15%;
}

.clients>.transfer>.transfer-item>img{
    width:  250px;
}

.testimonials>.title, .look>.title{
    width: 600px;
}

.contact>.title{
    width: 300px;
}

.footer>.transfer{
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 40%;
    padding-right: 40%;
}

.footer{
    padding: 2%;
}
.form{
    width: 100%;
}

.somth{
    width: 48%;
    height: 60px;
    font-size: 30px;
}

#area{
    width: 96%;
    margin-top: 30px;
    margin-left: 2%;
    font-size: 30px;
}

.footer>.transfer>.transfer-item>img:hover{
    padding-bottom: 5px;
    border-bottom: 4px solid #fcac45;
}
