body{
  padding: 120px;
  padding-top: 200px;
  color: white;
  background-color: #707e7e;
}

.cards>*{
  position: absolute;
  border-radius: 20px;
  padding-top: 40px;
  width: 300px;
  height: 100px;
  text-align: center;
}

.cards{
  transform-style: preserve-3d;
  transform: perspective(10000px) rotateY(-8deg) rotateX(-10deg);
}

.card{
  transform: translateZ(0px);
  cursor: pointer;
  transition: 0.5s;
  font-size: 2em;
}
